div(class='mimicbot-mp-shake')
  div(class='mimicbot-mp-shake__bubble')
    blockquote(class='mimicbot-mp-shake__bubble__message-pack-speech mimicbot-mp-shake__bubble__message-pack-speech--right')
      p(class='language_' + language) #{message}
  div(class='mimicbot-mp-shake__mimicbot-avatar')
    div(class='mimicbot-mp-shake__mimicbot-avatar__avatar u_' + uniqueId)
link(rel='stylesheet', href=baseUrl + styles + 'shake.css')
style(type='text/css').
  .mimicbot-mp-shake {
    background-image: url(#{baseUrl}#{images}/shake.jpg);
  }
  .u_#{uniqueId} {
    background-image: url(#{baseUrl}#{images}/#{avatar}), url(#{baseUrl}#{images}/#{noAvatar});
  }
